.bg-color {
  background-color: rgb(167, 202, 202);
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.bg-cabinet {
  background-color: rgb(20, 129, 129);
  border-radius: 5px;
  box-shadow: 3px 2px 3px 1px whitesmoke;
}
