<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
s    <div class="container d-flex justify-content-start">
      <div class="col-3">
        <div class="list-group">
          <a
            href="#"
            class="list-group-item list-group-item-action"
            *ngFor="let hospital of listOfHospitals"
          >
            {{ hospital.name }}
          </a>
        </div>
      </div>

      <div class="col-4"></div>
    </div>
  </body>
</html>
