<div class="container-fluid">
  <div class="d-flex flex-column justify-content-sm-center">
    <div class="align-self-end m-5">
      <h1 class="">Find your doctor</h1>
      <h6>The most innovative platform</h6>
    </div>

    <div class="align-self-center m-3">
      <img src="../../assets/images/fire.png" alt="logo" />
    </div>
    <div class="align-self-center">
      <form class="form-inline mt-0">
        <div class="position-relative col-12">
          <input
            class="form-control ml-3 searchBar"
            type="text"
            placeholder="Find your doctor"
            aria-label="Search"
          />
          <button
            type="submit"
            class="position-absolute bottom-0 end-0 btn bg-transparent border-0"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="container-fluid d-flex flex-lg-row flex-sm-column justify-content-evenly mt-5"
>
  <div class="align-self-sm-center">
    <h1>Take care of your health</h1>
    <h6>Search for the doctor, meet the professionals</h6>
  </div>
  <div class="m-3 align-self-sm-center">
    <img
      src="../../assets/images/doctor.jpg"
      alt="doctor-image"
      style="width: 50vw"
      class="img-fluid"
    />
  </div>
</div>
