body {
  background-color: whitesmoke;
}

.searchBar {
  width: 50vw;
  height: 45px;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgb(154, 154, 182);
}

.btn {
  height: 45px;
  border-radius: 10px;
}

.img {
  opacity: 0.7;
}
